<nav class="navbar navbar-light bg-light px-3">
  <a class="navbar-brand" href="#">Stream movies online for free!🏴‍☠️</a>
      <li class="nav-item active">
        <%= link_to "Home", lists_path(@list), class: "btn bg-light" %>
                <%= link_to "New list", new_list_path(@list), class: "btn bg-light" %>
      </li>
</nav>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)), url(https://images.hdqwalls.com/wallpapers/final-fantasy-xv-artwork-h5.jpg);">
  <div class="container">
      <h1>Tired of looking for movies with the same atmosphere?</h1>
      <p><span data-controller="typed-js">I know these are video </span><span class="typed-cursor" aria-hidden="true">|</span><span class="typed-cursor" aria-hidden="true">|</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true">|</span></p>
      <a class="btn btn-outline-light btn-lg rounded-pill" href="/lists/new">Add a list</a>
  </div>
</div>

<div class="main-container-index" >
    <div class="row">
    <% @lists.each do |list| %>
      <div class="col-6 col-lg-4">
        <div class="cards-index" style ="align-items: center; justify-content: space-between">
          <% if list.photo.attached?  %>
          <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
            </div>
          <% else %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://loremflickr.com/320/240')">
            </div>
          <% end %>
          <h1><%= list.name %></h1>
          <%= link_to "More details", list_path(list), class: "btn bg-secondary" %>
        </div>
    <% end %>
      </div>
  </div>
